/* You can add global styles to this file, and also import other style files */
body {
    color: black;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("/assets/cloudy_sky.jpg");
    background-size: contain;
    display: inline-block; */
}