<!--------------------------------------------------Nav bar and title section---------------------------------------------------->
<!-- Nav bar -->
<section id="title">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Title -->
    <div class="title-container">
      <h1>Hi. I'm Vasu.</h1>
      <h4>
        &lbrace;<span class="title-description">
          <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
        </span>&rbrace;
      </h4>
    </div>

    <!-- go down arrow -->
    <div class="down-arrow">
      <a href="#about">
        <svg class="arrow">
          <path class="a1" d="M0 0 L30 22 L60 0"></path>
          <path class="a2" d="M0 20 L30 42 L60 20"></path>
          <path class="a3" d="M0 40 L30 62 L60 40"></path>
        </svg>
      </a>
    </div>

  </div>
</section>
<!-- Nav bar and title section end -->

<!-------------------------------------------------------- About section start ----------------------------------------------------->
<section id="about">
  <div class="container-fluid">
    <div class="row about-content">
      <div class="col-lg-6 profile-image"><img class="img-fluid" src="../assets/me_cropped.jpg" alt="Vasu Agarwal">
      </div>
      <div class="col-lg-6 ">
        <p class="about-text">
          {{aboutTextPara1}}
        </p>
        <p class="about-text">
          {{aboutTextPara2}}
        </p>
      </div>
    </div>

    <div class="container-fluid resume-download">
      Want to know more about what I've been up to?&nbsp;&nbsp;&nbsp;
      <a class="resume-download-link" href="../assets/vasu_agarwal_resume.pdf" target="_blank"
        rel="noopener noreferrer">View my resume</a>
    </div>

    <!-- go down arrow -->
    <div class="down-arrow">
      <a href="#work">
        <svg class="arrow">
          <path class="a1" d="M0 0 L30 22 L60 0"></path>
          <path class="a2" d="M0 20 L30 42 L60 20"></path>
          <path class="a3" d="M0 40 L30 62 L60 40"></path>
        </svg>
      </a>
    </div>

  </div>
</section>
<!-- About section end -->

<!------------------------------------------------------ Work section start -------------------------------------------------------->
<section id="work">
  <div class="container-fluid">
    <h2 class="work-title">Projects.</h2>

    <div class="row projects">

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-card">
        <div class="card">
          <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    </div>

    <!-- go down arrow -->
    <div class="down-arrow">
      <a href="#contact">
        <svg class="arrow">
          <path class="a1" d="M0 0 L30 22 L60 0"></path>
          <path class="a2" d="M0 20 L30 42 L60 20"></path>
          <path class="a3" d="M0 40 L30 62 L60 40"></path>
        </svg>
      </a>
    </div>

  </div>
</section>
<!-- Work section end -->


<!------------------------------------------------------ Work section start -------------------------------------------------------->
<section id="contact">
  <div container-fluid>
    <h2 class="contact-title-primary">Let's catch up.</h2>
    <h3 class="contact-title-secondary">I'll buy the coffee :)</h3>

    <form class="contact-form">
      <div class="row">

        <div class="col-md-6">
          <div class="mb-3">
            <input type="text" class="form-control btnName" placeholder="Name *" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control btnEmail" placeholder="Email address *">
          </div>
          <div class="contact-submit">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>          
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <!-- <input type="text" class="form-control contact-message" placeholder="Message *" id="exampleInputPassword1"> -->
            <textarea name="txtMsg" class="form-control contact-message" placeholder="Your Message *"></textarea>
          </div>
        </div>

      </div>
    </form>

  </div>
</section>



<router-outlet></router-outlet>