<!--Nav bar and title section-->
<!-- Nav bar -->
<section id="title">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Title -->
 <div class="title-container">
  <h1>I'm Vasu.</h1>
  <h4><span class="title-description"><ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter></span></h4>
 </div>

 <div class="down-arrow">
  <a href="#">
    <svg class="arrow">
      <path class="a1" d="M0 0 L30 22 L60 0"></path>
      <path class="a2" d="M0 20 L30 42 L60 20"></path>
      <path class="a3" d="M0 40 L30 62 L60 40"></path>
    </svg>
  </a>
 </div>

</section>
<!-- Nav bar and title section end -->



<router-outlet></router-outlet>
