/* #title {
    background-color: moccasin;
} */

.title-container {
    margin-top: 170px;
}

h1 {    
    font-family: 'Dawning of a New Day', cursive;
    font-size: 11rem;
    font-weight: bold;
    padding-bottom: 100px;
    color: beige;
}

.title-description  {
    padding-bottom: 200px;
    text-align: left;
}

h4 {    
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}


/* go down arrow */
/* set arrow positioning */
.arrow {
    width: 60px;
    height: 82px;
    position: absolute; /* don't forget set container to relative */
    left: 49%;
    margin-left: 0px;
    bottom: 5%;
    z-index:999;
  }
  /* set arrow styles */
  .arrow path {
    stroke: #dd5506d0;
    stroke-width: 5px;
    fill: transparent;  
    animation: down 2s infinite;
  }
  /* arrow keyframe animation */
  @keyframes down{
  0% { opacity:0 }
  25% { opacity:1 }
  75% { opacity:0 }
  100% { opacity:0 }
  }
  /* arrow animation delay */
  .arrow path.a1{ animation-delay:-1s; }
  .arrow path.a2{ animation-delay:-.5s; }
  .arrow path.a3{ animation-delay:0s; }