# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['lts/*']
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    
    - name : Cloning master branch
      uses: actions/checkout@v2
      with:
        ref: master
        path: master
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.2.0
      with:
        node-version: ${{ matrix.node-version }}
      #cache: 'npm'
        
    - name: Build website
      run: |
        cd ${{ github.workspace }}/master/app
        npm ci
        npm run build

    - name: SPA fallback (404.html)
      run: cp -R ${{ github.workspace }}/master/docs/index.html ${{ github.workspace }}/master/docs/404.html
      
    - name: Commit files
      run: |
        cd ${{ github.workspace }}/master
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add *
        git commit -m "New deploy changes" -a
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        directory: ${{ github.workspace }}/master
        branch: 'master'
        github_token: ${{ secrets.GITHUB_TOKEN }}
